page-list-graficos {

    .cor-icon{

        color: #9eff01;
      

    }

    .item-block {
        margin: 3px;
     
    }

    .toolbar-title-md {
        padding: 0 10px !important;
        font-size: 1.5rem !important;
        font-weight: 100 !important;
        color: #9eff01;
    }

}
