page-cad-transacoes {

    .box1{
        color:#fff;
        background-image: url(../../assets/imgs/05.jpg); 
        padding: 10px; 
        border: 1px solid #4a8883;
        border-radius: 5px;
      }
    
      .box2{
        color:#fff;
        background-image: url(../../assets/imgs/07.jpg); 
        background-repeat: no-repeat;
        background-size: 300px 150px;
        padding: 10px; 
        border: 1px solid #f5e981;
        border-radius: 5px;
      }
    

}
